/*!
* CSS Encargado de brindarle un diseño optimo
* a la aplicacion.
*/

.navbar {
  height: 80px;
  width: auto;
  position: relative;
  position: sticky;
}

.navbar-brand {
  font-size: x-large;
  font-style: arial;
  height: auto;
  width: auto;
  color: white;
  margin-left: 20px;
}

.carousel-item {
  width: 100%;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}